---
layout: default
---
<div class="issues">
  {% for post in site.posts limit:2 %}
     <div class="issue">
     <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
     <div class="content">{{ post.content | split:'<!--break-->' | first }}</div>
     {% if post.content contains '<!--break-->' %}
        <a class="content link bold readmore" href="{{ post.url }}">Read More</a>
     {% endif %}
     </div>
  {% endfor %}
  <div class="clear"></div>
  <h1 class="content link bold readmore"><a href="archive.html">Read The Full Archive &rarr;</a></h1>
</div>
