<footer class="site-footer">
  <div class="footer">
    <div class="footer-desc">
      <img class="orb" src="{{ site.baseurl }}/images/tics.svg">
      <p>We scour the Internet for over 25 hours per day to find the greatest things it has to offer. At the end of the week we send the five best. Go ahead, subscribe. You're Gonna Like The Way You Look, We Guarantee It.</p>
      <p>Emails written by <a href="http://www.twitter.com/joshosbrn">Josh</a> &amp; <a href="{{ site.baseurl }}/images/friends.jpg">friends</a>.</p>
    </div>
  </div>
</footer>
