<footer class="site-footer">
  <div class="footer">
    <div class="footer-desc">
      <img class="orb" src="{{ site.baseurl }}/images/tics.svg">
      <p>There's a lot of good out there. We devote over 25 hours per day looking for the greatest of the good. At the end of the week, we send you the five best things. Go ahead, subscribe. You're Gonna Like The Way You Look, We Guarantee It.</p>
      <p>Emails written by <a href="http://www.twitter.com/joshosbrn">Josh</a> &amp; <a href="{{ site.baseurl }}/images/friends.jpg">friends</a>.</p>
    </div>
    <ul class="footer-nav">
      <li><a href="mailto:orb@fivegoodthings.club">Contact</a></li>
      <li><a href="http://www.twitter.com/five_goodthings">Twitter</a></li>
      <li><a href="archive.html">Archive</a></li>
    </ul>
  </div>
</footer>
