<div class="header">
  <header class="site-header">
    <div class="twitter nav-item"><a href="http://www.twitter.com/sssubterranea">We Deliver Weekly</a></div>
    <div class="news nav-item"><a href="{{ site.baseurl }}/news">@fivegoodthings</a></div>
  </header>
  <div class="site-meta">
    <div class="info">
      <h2>Five Good Things</h2>
      <p>Five objectively good things in your inbox every Sunday. Always remember, <em>the Orb's word is law.</em></p>
      <!-- <p>Written by Josh &amp; friends.</p> -->
      <div class="email">
        <form action="">
          <input class="email-input" type="text" name="fname" placeholder="Your Sweet, Sweet Email"><br>
          <input class="submit" type="submit" value="Sign Me Up &rarr;">
        </form>
      </div>
    </div>
  </div>
</div>
