<div class="header">
  <div class="site-meta">
    <div class="info">
      <h2>Five Good Things</h2>
      <p>Five objectively good things in your inbox every Sunday. Blindly accept our vague proposal.</p>
      <!-- <p>Written by Josh &amp; friends.</p> -->
      <!-- <div class="email">
        <form action="//osbrn.us7.list-manage.com/subscribe/post?u=196336d97a7c529fdb35a7a18&amp;id=cbf2600bac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input class="email-input" type="text" name="fname" placeholder="Your Sweet, Sweet Email"><br>
          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="submit" value="Sign Me Up &rarr;">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_196336d97a7c529fdb35a7a18_cbf2600bac" tabindex="-1" value=""></div>
        </form>
      </div> -->

      <div class="email">
        <form action="//osbrn.us7.list-manage.com/subscribe/post?u=196336d97a7c529fdb35a7a18&amp;id=cbf2600bac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      	     <input type="email" placeholder="Your Email Address" name="EMAIL" class="email-input" id="mce-EMAIL">

          <input type="submit" value="Sign Me Up &rarr;" name="subscribe" class="submit">
        </form>
      </div>
    </div>
    <header class="site-header">
      <div class="twitter nav-item"><a href="http://www.twitter.com/five_goodthings">We Deliver Weekly</a></div>
      <div class="news nav-item"><a href="http://www.twitter.com/five_goodthings">@five_goodthings</a></div>
    </header>
  </div>
  <!-- <img class="red illo multiply" id="red" src="{{ site.baseurl }}/images/fivez.svg"> -->
</div>
