<div class="meta">
  <p class="date">
    <span class="meta-title">Sent on</span><br>{{ page.display-date }}
  </p>
  <p class="byline">
    <span class="meta-title">Written by</span><br><a href="{{ page.author-link }}">{{ page.byline }}</a>
  </p>
  <p class="share">
    <span class="meta-title">
    Share via</span><br>
    <a href="https://twitter.com/share? text={{ post.title }} &url={{ post.url }} &via=five_goodthings">Twitter</a><br>
    <a href="mailto:yourfriend@hotmail.com?CC=god@heaven.gov&BCC=thedevil12@hell.org&Subject=Hey%20check%20out%20this%20weird%20thing%20I%20found%20on%20The%20Internet">Email</a><br>
  </p>
</div>
