<div class="header">
  <div class="site-meta">
    <div class="info">
      <h2>thx</h2>
      <p>You're a good person. Open Gmail &amp; wait patiently for our correspondance.</p>
      <div class="email">
      <p>
        <button class="submit"><a href="index.html">&larr; Go Home</a></button>
      </p>
      </div>
    </div>
    <header class="site-header">
      <div class="twitter nav-item"><a href="http://www.twitter.com/five_goodthings">We Deliver Weekly</a></div>
      <div class="news nav-item"><a href="http://www.twitter.com/five_goodthings">@five_goodthings</a></div>
    </header>
  </div>
  <!-- <img class="red illo multiply" id="red" src="{{ site.baseurl }}/images/fivez.svg"> -->
</div>
