.container {
  overflow: auto;
  padding-bottom: 100px;
  @include media-query($on-palm) {
  }
}

/**
 * Page content
 */
.page-content {
    margin: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    z-index: -25;

    > li {
        margin-bottom: $spacing-unit;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;

    p {
      margin: 35px 0;
    }

    img {
      margin: 20px 0;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.page-header {
  margin: 70px 0 120px 0;
  background: #000;
  color: #fff;
  padding: 5%;
  .tagline {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0 0 50px 0;
  }
  .site-meta {
    margin: 0;
    padding: 0;
  }
  .submit {
    letter-spacing: .02em;
    font-size: 1.8em;
    border: 0;
    background: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-bottom: 3px solid #fff;
    &:hover {
      border-bottom: 3px solid #001AFF;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .email {
    margin-bottom: 0;
    max-width: 100%;
    font-size: .6em;
    @include media-query($on-palm) {
      margin: 50px 0;
    }
    .email-input {
      color: #fff;
      background-color: #000;
      border-color: #fff;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  a {
    display: block;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}

.page-wrapper {
  padding: 5% 7% 7% 7%;
}
