.container {
  overflow: auto;
  padding-bottom: 100px;
  @include media-query($on-palm) {
  }
}

/**
 * Page content
 */
.page-content {
    margin: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    z-index: -25;

    > li {
        margin-bottom: $spacing-unit;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;

    p {
      margin: 35px 0;
    }

    img {
      margin: 20px 0;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.page-header {
  font-size: 1.2em;
  position: fixed;
  margin: 5% 5% 5% 0;
  font-weight: 400;
  max-width: 25%;
  float: left;
  @include media-query($on-palm) {
    float: none;
    position: relative;
    max-width: 100%;
  }
  .submit {
    font-size: 1em;
    margin: 0;
    margin-top: -50px;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 20px;
    z-index: 100;
    &:hover {
      background-color: #001AFF;
      color: #fff;
      border-bottom: 0;
      transform: none;
    }
  }
  .email {
    margin-bottom: 0;
    max-width: 100%;
    font-size: 1.3em;
    @include media-query($on-palm) {
      margin: 50px 0;
    }
  }
  a {
    display: block;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}

.page-body {
  max-width: 60%;
  margin: 100px 0 0 0;
  padding: 7%;
  @include media-query($on-palm) {
    max-width: 100%;
    margin: 5%;
  }
  ul {
    list-style-type: none;
    // li {
    //   margin: 0 0 5px 0;
    //   font-size: 1.2em;
    //   line-height: 1.6em;
    //   font-weight: 400;
    //   letter-spacing: .01em;
    // }
  }
  .title {
    font-size: 2.5em;
    line-height: 1.1em;
    margin-bottom: 40px;
    font-family: "eskapade-fraktur";
  }
  .content {
    font-size: .9em;
    line-height: 1.6em;
    font-weight: 400;
    letter-spacing: .01em;
    a {
      color: #001AFF;
    }
  }
  .meta {
    margin: 0 0 20px 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 60px;
  }
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}

.page-wrapper {
  padding: 5% 7% 7% 7%;
}

.section-icon {
  width: 125px;
  margin: 10px auto 100px auto;
  display: block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 15000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 15000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 15000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
