.meta {
  width: 20%;
  margin-left: 6%;
  float: right;
  font-weight: 500;
  .share {
    display: none;
  }
  p {
    border-bottom: #000 solid 3px;
    padding-bottom: 35px;
    &:last-of-type {
      border: none;
    }
    &:first-of-type {
      margin-top: 10px;
      padding-top: 0;
    }
  }
}

.meta-title {
  font-size: .8em;
}
