.meta {
  width: 20%;
  margin-left: 5%;
  float: right;
  font-weight: 500;
  .share {
  }
  a {
    color: #001AFF;
  }
  p {
    &:last-of-type {
      border: none;
    }
    &:first-of-type {
      margin-top: 10px;
      padding-top: 0;
    }
  }
}

.meta-title {
  font-size: .8em;
}

.short-meta {
  font-size: .7em;
  font-weight: 400;
  a {
    color: #001AFF;
  }
}
