

.site-meta {
  z-index: 20;
  margin: 0 7% 7% 7%;
  @include media-query($on-palm) {
    display: block;
  }
}

.tagline {
  margin: 80px 0 0 0;
  @include media-query($on-palm) {
    margin: 30px 0 0 0;
  }
}

.info {
  font-family: "eskapade-fraktur";
  text-align: left;
  font-weight: 500;
  margin: 0 auto;
  .description {
    font-family: sans-serif;
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 35px 0;
    max-width: 750px;
  }
  p {
    font-size: .9em;
  }
  h2 {
    font-family: $accent-font;
    font-size: 9.5em;
    line-height: .8em;
    @include media-query($on-palm) {
      line-height: 1em;
    }
  }
  @include media-query($on-palm) {
    font-size: 2.5em;
    top: 0;
    p {
      font-size: .6em;
      line-height: 1.3em;
    }
    h2 {
      font-size: 1.5em;
      margin-bottom: 25px;
    }
  }
}

.email {
  margin: 20px 0;
  @include media-query($on-palm) {
    margin: 30px auto;
    font-size: .8em;
  }
  input {
    display: inline;
    float: left;
    margin: 0 30px 20px 0;
    padding: .6em;
    border: 3px solid #000;
    opacity: 1;
    font-size: 2.2em;
    -webkit-transition: .3s all;
    transition: .3s all;
    letter-spacing: .02em;
    min-width: 450px;
    &:focus {
      outline: none;
      border: 3px solid #001AFF;
    }
    &:hover {
      border: 3px solid #001AFF;
    }
    @include media-query($on-palm) {
      width: 92%;
      min-width: 0;
      margin: 0 0 10px 0;
    }
  }
  .submit {
    letter-spacing: .02em;
    font-size: 2.25em;
    border: 0;
    background: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-bottom: 3px solid #000;
    padding: .6em 0;
    &:hover {
      border-bottom: 3px #001AFF solid;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
