.archive {
  max-width: 53%;
  margin: 0 0 0 37%;
  @include media-query($on-palm) {
    max-width: 100%;
    margin: 5%;
  }
  ul {
    list-style-type: none;
  }
  .title {
    font-size: 2.6em;
    line-height: 1.1em;
    margin-bottom: 40px;
  }
  .content {
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 400;
    letter-spacing: .01em;
    a {
      color: #001AFF;
    }
  }
  .meta {
    margin: 0 0 20px 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 60px;
  }
}

.archive-header {
  font-size: 1.2em;
  position: fixed;
  margin: 5% 5% 5% 0;
  font-weight: 400;
  max-width: 25%;
  float: left;
  @include media-query($on-palm) {
    float: none;
    position: relative;
    max-width: 100%;
  }
  .submit {
    font-size: 1em;
    margin: 0;
    margin-top: -40px;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 20px;
    z-index: 100;
    &:hover {
      background-color: #001AFF;
      color: #fff;
      border-bottom: 0;
      transform: none;
    }
  }
  .email {
    margin-bottom: 0;
    max-width: 100%;
    font-size: 1.3em;
    @include media-query($on-palm) {
      margin: 50px 0;
    }
  }
  a {
    display: block;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}

.sponsor {
  position: fixed;
  bottom: 7%;
  max-width: 25%;
}

.display-date {
  font-weight: 700;
}

.footnote {
  font-size: .8em;
  line-height: 1.7em;
  margin-bottom: 15px;
}

.byline {
  font-weight: 700;
}

// .back-arrow {
//   font-size: 2em;
//   position: fixed;
//   bottom: 5%;
//   left: 5%;
//   cursor: pointer;
//   -webkit-transition: .3s all;
//   transition: .3s all;
//   &:hover {
//     transform: translateX(-7px);
//     color: #001AFF;
//   }
//   a {
//     color: #000;
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

.bold {
  font-weight: 700;
}
